amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.24
cycler==0.10.0
Cython==0.26
Django==1.11.4
kombu==3.0.37
matplotlib==2.0.2
mpmath==0.19
numpy==1.13.1
pandas==0.21.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
scipy==0.19.1
six==1.10.0
sympy==1.1.1
vine==1.1.4
